<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>remote-audio</title>
    <link rel="stylesheet" href="/static/css/index.css?v=1" />
  </head>
  <body>
    <div class="wrap">
      <div class="title-text">remote-audio</div>
      <div class="container">
        <button class="btn-status" onclick="Page.refresh()">状态刷新</button>
        <div class="form">
          <label class="label-num" for="audio-num">
            <span class="label-text">音量：</span>
            <input
              id="audio-num"
              type="range"
              min="1"
              max="100"
              oninput="Page.changeAudioNum(this)"
              onchange="Page.setAudioNum(this)"
            />
            <span id="num"></span>
          </label>
          <label>
            <span class="label-text">静音：</span>
            <button id="audio-muted" onclick="Page.setAudioMuted()">否</button>
          </label>
        </div>
      </div>
    </div>
    <script src="/static/js/axios_1.6.8.min.js"></script>
    <script src="/static/js/index.js?v=1"></script>
  </body>
</html>
