/* reset */
html,
body,
div,
p,
ul,
li,
dl,
dt,
dd,
em,
i,
span,
a,
img,
input,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a,
img,
input {
  border: none;
}
body {
  font:
    14px/1.75 -apple-system,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
a,
img {
  -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html,
body {
  -webkit-user-select: none; /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}
/* app */
.title-text {
  font-size: 0.3rem;
  text-align: center;
  padding: 0.1rem;
  color: #fff;
  background-color: #409eff;
}

.container,
.container input,
.container button {
  font-size: 0.3rem;
}

.container {
  padding: 0.3rem;
}

label {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.label-text {
  margin-right: 0.2rem;
}

.btn-status {
  width: 100%;
  margin: 0.3rem 0;
}

#audio-muted {
  width: 80%;
}

#audio-num {
  width: 72%;
}

#num {
  margin-left: 0.1rem;
}
